@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
  font-family: 'Gotham', sans-serif;
}

/* Background Models homepage */

.bg-hero {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-We-Robot-Hero-Desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-cybertruck {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-3 {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-y {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global-v2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-s {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-x {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-solar-and-powerwall {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-3-Desktop-ROW.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-accessories {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

/* Background page details */

.bg-model-s-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-S-Main-Hero-Desktop-NA.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-3-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-x-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-X-Main-Hero-Desktop-NA-v3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-y-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-Y-Main-Hero-Desktop-NA.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-cybertruck-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png");
  /* background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/0f22af4d-15e0-452d-ba66-1359490b4a0b/bvlatuR/std/2880x1800/Cybertruck-Hero-Desktop"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-powerwall-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-3-Desktop-ROW.png");
  /* background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dede7688-4a2a-49ff-9696-5052e8f6cf6e/bvlatuR/std/2880x1800/PW-Hero-Desktop-EMEA?quality=auto-medium&format=auto"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}

.bg-model-we-robot-details {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0) 100%), url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/We-Robot-Hero-Desktop.png");
  /* background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dede7688-4a2a-49ff-9696-5052e8f6cf6e/bvlatuR/std/2880x1800/PW-Hero-Desktop-EMEA?quality=auto-medium&format=auto"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  max-height: 100vh;
}
